<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586363520648-v2f1395bcenkvqc71319o7r433e9inu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586363520648-v2f1395bcenkvqc71319o7r433e9inu4</string>
	<key>API_KEY</key>
	<string>AIzaSyAN5b0dk6RDsHZzd-6GVN2yWhz6njP0y7E</string>
	<key>GCM_SENDER_ID</key>
	<string>586363520648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.udacity.friendlychat</string>
	<key>PROJECT_ID</key>
	<string>friendlychat-41724</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlychat-41724.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586363520648:ios:f58e6409819a8f9bbc813d</string>
	<key>DATABASE_URL</key>
	<string>https://friendlychat-41724.firebaseio.com</string>
</dict>
</plist>